<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/static/3p/htmx.2.0.0.min.js"></script>
  <title></title>
</head>

<body>
  <div id="bill">
    <div>
      <h2 style="display: inline;">Bill details</h2>
      <a href="{{call .reverse "bill-edit" .id}}">edit</a>
    </div>
    <table>
      <tr>
        <td>Id</td>
        <td>{{.id}}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{.name}}</td>
      </tr>
      <tr>
        <td>Date</td>
        <td>{{.date}}</td>
      </tr>
      <tr>
        <td>Price</td>
        <td>{{.price}}</td>
      </tr>
      <tr>
        <td>Currency</td>
        <td>{{.currency}}</td>
      </tr>
      <tr>
        <td>Exchange rate</td>
        <td>{{.exchange_rate}}</td>
      </tr>
      <tr>
        <td>Country</td>
        <td>{{.country}}</td>
      </tr>
      <tr>
        <td>Tag</td>
        <td>{{.tag}}</td>
      </tr>
      <tr>
        <td>Bill check</td>
        <td><a href="{{.link}}">link</a></td>
      </tr>
    </table>
  </div>
  <h2>Items</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Price One</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      {{ range $item := .items }}
      <tr>
        <td>{{$item.Name}}</td>
        <td>{{$item.Price}}</td>
        <td>{{$item.PriceOne}}</td>
        <td>{{$item.Quantity}}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  <a href="{{call .reverse "bills"}}">Back to list</a>

</body>

</html>