<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./bill-from-link-styles.css">
    <title>Bill from link</title>
</head>

<body>
    <form action="/bill-from-link" method="post" target="_self">
        <label for="linkField">Enter Link:</label>
        <input type="text" id="linkField" name="link" placeholder="Enter URL">
        <button id="submitLink">Submit</button>
    </form>
</body>

</html>
