<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bill-from-link-styles.css">
    <title>Bill from link</title>
</head>

<body>
{{ if index .Success }}
    <h2>&check;Bill added successfully</h2>
    <p>Id: {{index .Bill.Id }}</p>
    <p>Name: {{index .Bill.Name }}</p>
    <p>Date: {{index .Bill.Date }}</p>
    <p>Price: {{index .Bill.Price }}</p>
    <p>Currency: {{index .Bill.Currency }}</p>
    <p>Exchange rate: {{index .Bill.ExchangeRate }}</p>
    <p>Country: {{index .Bill.Country }}</p>
{{ else }}
    <h2>&cross;Failed to add bill</h2>
    <p>Error: {{index .Message }}</p>
{{ end }}
<a href="/bill-from-link">To link form</a>
</body>

</html>
