<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Browse bills</title>
  </head>
  <body>
    {{ if .success }}
    <h2>Bills {{.year}}-{{.month}}</h2>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Price</th>
        <th>Currency</th>
        <th>Exchange rate</th>
        <th>Country</th>
        <th>Tag</th>
      </tr>
      </thead>
      <tbody>
      {{ if len .bills }}
      {{ $reverse := .reverse }}
      {{ range .bills }}
      <tr>
        <td>{{.Name}}</td>
        <td>{{.Date}}</td>
        <td>{{.Price}}</td>
        <td>{{.Currency}}</td>
        <td>{{.ExchangeRate}}</td>
        <td>{{.Country}}</td>
        <td>{{.Tag}}</td>
        <td><a href='{{ call $reverse "bill-view" .Id }}'>open</a></td>
      </tr>
      {{ end }}
      {{else}}
      <tr>
        <td colspan="7">No bills found</td>
      </tr>
      {{end}}
      </tbody>
    </table>
    {{ if .nextPage }} <a href="{{ .nextPage }}">Next</a> | {{end}}
    <a href="{{ .prevPage }}">Previous</a>
    <br>
    {{ else }}
    <h2>Failed to get bills</h2>
    <p>{{.message}}</p>
    <a href="{{ call .reverse "bills-landing" }}">Current month's bills</a> |
    {{ end }}
    <a href="/">Back to main</a>
  </body>
</html>
