<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/static/3p/htmx.2.0.0.min.js"></script>
  <title>Browse bills</title>
</head>

<body>
  <div id="content">
    {{ if .success }}
    <h2 style="display: inline;">Bills {{.year}}-{{.month}}</h2>
    <a href="{{ call .reverse "browse-items" .year .month }}">Items</a>
    <a href="/">Back to main</a>
    <div>
      {{ if .nextPage }} <a href="{{ .nextPage }}">Next</a> | {{end}}
      <a href="{{ .prevPage }}">Previous</a>
    </div>
    <br>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Price</th>
          <th>Currency</th>
          <th>Exchange rate</th>
          <th>Country</th>
          <th>Tag</th>
        </tr>
      </thead>
      <tbody>
        {{ if len .bills }}
        {{ $reverse := .reverse }}
        {{ range .bills }}
        <tr>
          <td>{{.Date}}</td>
          <td>{{.Name}}</td>
          <td>{{.Price}}</td>
          <td>{{.Currency}}</td>
          <td>{{.ExchangeRate}}</td>
          <td>{{.Country}}</td>
          <td>{{.Tag}}</td>
          <td><a href='{{ call $reverse "bill-view" .Id }}'>open</a></td>
        </tr>
        {{ end }}
        {{else}}
        <tr>
          <td colspan="7">No bills found</td>
        </tr>
        {{end}}
      </tbody>
    </table>
    {{ else }}
    <h2>Failed to get bills</h2>
    <p>{{.message}}</p>
    <a href="{{ call .reverse "browse-landing" }}">Current month's bills</a> |
    <a href="/">Back to main</a>
    {{ end }}
  </div>
</body>

</html>
