<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=680, initial-scale=1.0">
  <title>BillDb</title>
</head>

<body>
  <h1>Expenses management</h1>
  <h2>Add bill</h2>
  <ul>
    <li>
      <a href='{{call .reverse "bill-form"}}'>Form</a>
    </li>
    <li>
      <a href='{{call .reverse "bill-from-link"}}'>Link</a>
    </li>
  </ul>
  <h2>Management</h2>
  <ul>
    <li>
      <a href="{{call .reverse "bills-landing"}}">View bills</a>
    </li>
    <li>
      <a href="{{call .reverse "db-save"}}">Backup db</a>
    </li>
    <li>
      <a href="{{call .reverse "db-upload"}}">Upload db</a>
    </li>
  </ul>
</body>

</html>