{{if .Success}}
<td>{{.Name}}</td>
<td>{{.Tag}}</td>
<td>
  <form>
    <input type="text" id="tag" name="tag"/>
    <button type="submit" hx-put="{{call .reverse "tag-item-update" .Id}}" hx-target="#item-{{.Id}}">
      Update</button>
    <button hx-get="{{call .reverse "tag-item-get" .Id}}" hx-target="#item-{{.Id}}">
      Cancel</button>
  </form>
</td>
{{else}}
<td colspan="2">Error: {{.Message}}</td>
<td>
  <button hx-get="{{call .reverse "tag-item-edit" .Id}}" hx-target="#item-{{.Id}}">
    Edit</button>
</td>
{{end}}