body {
  background-color: #e6ffe6;
  /* Slightly green background */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

label {
  margin-bottom: 10px;
}

#linkField {
  width: 300px;
  padding: 5px;
  margin-bottom: 10px;
}

#buttonsRow {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

button {
  padding: 15px;
  font-size: 16px;
  /* Increased font size */
  background-color: #4CAF50;
  /* Green background */
  color: white;
  border: 2px solid #4CAF50;
  /* Bold green border */
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: #4CAF50;
  /* Green text on hover */
}